<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicLibraries</key>
	<array/>
	<key>requiredFrameworks</key>
	<array/>
	<key>pListAdditions</key>
	<array/>
	<key>weakLinkFrameworks</key>
	<array/>
	<key>linkerFlags</key>
	<array/>
</dict>
</plist>
